# /!\ GET YOUR OWN KEY FOR GOOGLE API /!\
# /!\ GENERATE YOU OWN APP_KEY FOR API CALL /!\
GOOGLE_BOOKS_API_KEY=CHANGE_ME
APP_KEY=CHANGE_ME

# /!\ NOT SAFE FOR PROD - LOCAL USE ONLY /!\
DB_PASSWORD=password
DB_ROOT_PASSWORD=root
DB_USER=user